.project-card {
  width: 100%;
  height: 60vh;
  background-color: white;
  border: 3px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.project-card-title-container {
  margin-bottom: 5vh;
}

.project-card:hover {
  transform: scale(1.05);
}
h3 {
  margin: 2vh 0;
}

@media screen and (max-width: 768px) {
  .project-card {
    height: 50vh;
  }
}
@media screen and (max-width: 425px) {
  .project-card {
    height: 40vh;
  }
}
