.project-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.project-modal-window {
  background-color: white;
  border-radius: 25px;
  height: 80vh;
  width: 80vh;
  display: flex;
  flex-direction: column;

  overflow: scroll;
  scrollbar-width: none;
}
.project-modal-close-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
  border: 2px solid white;
  padding: 2vh;
  height: 8vh;
  /* z-index: 1; */
  border-radius: 25px 25px 0px 0px;
}

.project-modal-close-bar .close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 3vh;
  margin: 0vh;
}
.project-modal-content {
  margin: 5vh;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.project-modal-window::-webkit-scrollbar {
  display: none;
}

.project-modal-window h2 {
  text-align: center;
}

.project-modal-window p,
.project-modal-window ul {
  text-align: justify;
}

.project-modal-window h2 {
  color: white;
}
.project-modal-window h3 {
  color: #0077b6;
}

.project-modal-window p,
.project-modal-window ul {
  color: black;
}

.project-modal-mission-container ul,
.project-modal-techno-container ul {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  list-style-type: none;
}
.project-modal-techno-container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vh;
  list-style-type: none;
}

.project-modal-techno-container li {
  background-color: black;
  color: white;
  padding: 1vh;
  border-radius: 10px;
}
.project-modal-git-container a {
  color: black;
  font-size: 2vh;
  text-decoration: none;
}

.project-link-content {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.project-link-content img {
  height: 2.5vh;
}

/* Styles pour rendre la modal responsive */
@media (max-width: 1024px) {
  .project-modal-window {
    width: 90vw;
    height: 80vh;
  }

  .project-modal-close-bar {
    padding: 6vh;
  }
}
@media (max-width: 768px) {
  .project-modal-window {
    width: 90vw;
    height: 80vh;
  }
  .project-modal-close-bar {
    padding: 3vh;
  }
  .project-modal-window h2 {
    font-size: 2vh;
  }
  .project-modal-window h3 {
    font-size: 2vh;
  }
}
