/* Description Container Properties */
.description-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 50px;
}
.oc-link{
  color: #0077b6 ;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  font-size: 2vh;
  text-align: justify;
  line-height: 1.5em;
}

.cta-home {
  background-color: white;
  color: black;
  padding: 2vh;
  cursor: pointer;
  text-decoration: none;
}
.cta-home:hover {
  background-color: #0077b6;
  color: white;
}

/* Img and Location Properties */
.img-and-location-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
}

.img-container {
  background-image: url(../../../assets/images/home/glacier-vanoise.webp);
  background-position: center;
  width: 100%;
  padding-top: 45%;
  background-size: cover;
}

.location-container p {
  display: flex;
  gap: 20px;
  font-size: 2vh;
  font-weight: 700;
}

/* Responsive Properties */
@media screen and (max-width: 992px) {
  .description-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 50px;
  }

  .home-cta-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .text-container {
    max-width: inherit;
  }

  .img-container {
    max-width: 100%;
  }

  .img-and-location-container {
    gap: 10px;
  }
}
